.chart {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.chart-row {
    margin: auto;
    display: flex;
}

.grid {
    border: 1px solid black;
    height: 1.5em;
    width: 1.5em;
}
.grid.table-header {
    background-color: beige;
}