.legend-container {
    text-align: left;
    /* border: 1px solid red; */
    background-color:white;
    opacity: 0.7;
    border-radius: 15px;
    box-shadow: 4px 4px 10px gray;
    padding: 5px;
}

.legend-entry{
    display:flex;
}

.legend-title {
    font-weight: bold;
    margin: 5px;
}

.legend-label {
    font-size: 1em;
}

.legend-key {
    width: 25px;
    height: 25px;
    margin: 5px;
    text-align: center;
    align-self: center;
}
.key-container {
    width: 40px;
    height: 25px;
    margin: 5px;
    text-align: center;
    align-self: center;
}

.default-stitch {
    background-color: white;
    border: 1px solid black;
}
.knit-stitch {
    background-color: orange;
}

.cast-on {
    background-color: lightcoral
}

.purl-stitch {
    background-color: yellowgreen;
}

.slip-stitch {
    background-color: lightsalmon;
}

.bind-off {
    background-color: lightgreen;
}

.no-stitch {
    background-color: white;
}