@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: Open Sans;
  background-color:lightblue;
}

.App {
  text-align: center;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  /* border: 1px solid orange; */
}